@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;   /*start with this*/
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a; /* color applied to whole body*/
}
/* headings and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px; /*gives space between leters, to create a nicer logo */
    color: #252525;
}

#logo{
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px; /* same one has the header so it keeps style */
}
#menu, #logo{
    line-height: 75px;/* align both logo an list */
}
#menu li{ /* this one focus the "li" inside menu */
    float: right;
    list-style-type: none; /* we take out the dots in the beginning */
    margin-right: 30px;

}
#menu a{
    text-decoration: none; /* this one takes out the under line of the link */
    color: inherit;/*takes color from parent*/
}

#menu a:hover{ /* shows border when putting the click over*/
    border-bottom: #3a3a3a 1px solid;
}
.active{ /*underline the page we are at the moment, in this case in the top right menu*/
    border-bottom: #3a3a3a 1px solid;
}
/*puting down the image from the header*/
#hero-outer{
    height:600px;
    width:100%;
    overflow: hidden;
    position: relative;/*to be able to have a child with a relative position to it*/

}

/*next code is for texxt over image. 2nd # to over ride the normal syle already input to the whole body*/
#cover-text, #cover-text h2{
    color:#fff;
}
#cover-text{
    font-size: 130%;
    font-family: oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, 0.7);/*last value for transparency*/
    
    /*position relative to parent that needs to have a relative position, in this case its the #hero-outer*/
    bottom:30px;
    right:150px;

    position: absolute;
}

/*put the image*/
#hero-image{ /* The first step we need to take is to step  
    up out of our css folder into the assets  folder, we do that with the ../ syntax.  
    From there our file path can see the images  folder, and then the image file itself. */
    height:600px;
    width:100%;
    background: url('../images/hero-image.webp') no-repeat center; /*url to the image and no repeat so we only have it one time*/
    /*center center we use it to center vertical and horizontaly */
    animation-name:hero-zoom;/*call the animation zooming*/
    animation-duration: 5s;
    animation-fill-mode: forwards;/*makes the animation to stay in the to 1.1*/
}

/*zooming*/
@keyframes hero-zoom{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1); /* 100% to 110% */
    }

}
/* club ethos*/

#club-ethis{
    height: 6000px; /*600px to keep the style in size of the image above*/
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about{
    width: 33%;
    margin: 0 auto; /*this one we use it to center the entire div*/
    }

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;/*provide some space around the line we just created 1px*/
}

.left-about-heading{
    width: 60%;
    float: right;/*so the text moves towards the image in the center*/
    line-height: 20px;/*space between lines of text*/
    clear:both; /*for alignment verticaly */
    margin-bottom: 50px;/*to make space between both divs with headings ans p*/
}

.right-about-heading{
    width: 60%;
    float: left;/*so the text moves towards the image in the center*/
    line-height: 20px;/*space between lines of text*/
    clear:both; /*for alignment verticaly */
    margin-bottom: 50px;/*to make space between both divs with headings ans p*/
}

.right-about-heading h2, .right-about-heading p{/*we move the h and p to the right so its looks better with the image in the middle*/
    text-align: right;
}

/* centering the tittle*/
#welcome {
    text-align: center;
    margin: 20px 0; /*20px below hero image*/
    font-size: 280%;
}

/*midle image*/

#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;/*used to create circle, height and width must be the same*/
    margin: 0 auto;/*center stuff*/
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpeg') no-repeat center center;
    height: 100%; /*needs to have a height if not the image will not show*/
    border-radius: 50%;
}

/*event times*/

#times{
    background-image: url(../images/dublin-city.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;
}

#times div{
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);/*gives oppaci to the background image so the text can be readed better*/
    width: 20%; /*5 panels horizonal so each div uses 20%*/
    height: 300px;/*for stetic we use half the size of the rest of the body parts*/
    float: left;/*float left so they align horizontaly*/
    padding:30px 0 0 10px;/*top right bottom left, clockwise */
    text-align: center;
    border: 2px solid white;/*thickness type color*/
    box-sizing: border-box;/* super important, this one says to the browser that the border width in the total size of the element*/
}
#times h2{
    color: #fafafa;
}

footer{/*following multiply sizes to keep visual order*/
    height: 150px;
}
.social-networks{/*put the unorder list in the center of the footer*/
    text-align: center;
}

.social-networks > li{/*puting icons horizontally*/
    display: inline;
}
.social-networks i{/*style for icons*/
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
#photos{
    clear: both;/*so the photos starts after the header*/
    line-height: 0;/*no horizontal space between photos*/
    column-count:4;/*magi trick to align photos in columns*/
    column-gap: 0;/*taking out the vertical separation*/
}
#photos > img{
    width:100%;/*this will make the photos to use the space correctly inside the columns*/
}